---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';

const name= 'Mars protocol';
const icon= 'mars';
const chain= 'mars-1';
const version= 'v1.0.0';
const stake= '';
const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};

const items = [
  {
		title: 'Node installation',
		Link: 'https://spt-node.my.id/mainnet/mars/installation',
	},
	{
		title: 'Addrbook',
		Link: 'https://spt-node.my.id/mainnet/mars/addrbook',
	},
	{
		title: 'Api',
		Link: 'https://spt-node.my.id/mainnet/mars/api',
	},
	{
		title: 'Explorer',
		Link: 'https://explorer.spt-node.my.id/bitcanna/staking/bcnavaloper1xm2puxnz7y6fmgydvarfn2tg0zk44v0s52d7lh',
	},
	{
		title: 'Genesis file',
		Link: 'https://spt-node.my.id/mainnet/mars/genesis',
	},
	{
		title: 'gRPC',
		Link: 'https://spt-node.my.id/mainnet/mars/grpc',
	},
  {
		title: 'Peers',
		Link: 'https://spt-node.my.id/mainnet/mars/peers',
	},
	{
		title: 'Rpc',
		Link: 'https://spt-node.my.id/mainnet/mars/rpc',
	},
	{
		title: 'Statesync',
		Link: 'https://spt-node.my.id/mainnet/mars/statesync',
	},
	{
		title: 'Snapshot',
		Link: 'https://spt-node.my.id/mainnet/mars/snapshot',
	},	
]	
---

<Layout {meta}>
	<section>
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="py-10 md:py-20">
				<div class="text-center pb-5 md:pb-5 max-w-5xl mx-auto">
					<Icon name={icon} class="w-20 h-20 inline-block align-text-bottom" />           
				<div><h1 class="header-1">Mars Protocol</h1></div>
     <div>
           </div>
					<a
							class="btn bg-violet-700 w-1/4 items-center hover:bg-violet-800 text-white font-bold md:pb-4"
							href={stake}>Stake with SPT</a>
				</div>
				<section class="bg-primary-100 dark:bg-slate-800 items-center">
					<div class="bg-violet-700 px-4 sm:px-6 py-4 text-md text-center text-white font-bold font-medium">
							<li>
								<span class="font-bold">Chain-id:</span> {chain}							
							</li>
							<li>
								<span class="font-bold">Node version:</span> {version}
							</li>
					</div>
				</section>
				<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-10 dark:text-white">
					{
						items.map(({ title , Link }) => (
						<a href={Link} target="_blank">  
							<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
								<div class="flex items-center mb-4 text-center">					                   
									<div class="ml-4 text-xl font-bold text-center">{title}</div>                                 
								</div>
							</div>
						</a>  
						))
					}
				</div>
			</div>
		</div>
	</section>
	</Layout>
